/outputs
/rhtslib_symbols.txt
*.Rout
*.csv
Logs/*
Logs/Log_2024-12-04_11-18-39.txt
.venv/*
.nfs*

*.gz

*.so
*.o
*.dll
*.sl
*.dylib
*.a
*.log
*.out
todo.md

*.Rproj

*.Rproj.user
hello.R

snp.plp_0.0.0.9000.tar.gz

data/*
*.txt
